<div class="top">
  <div>
    <%= image_tag "top.jpg" %>
  </div>
</div>
<div class="main">
  <div class="contents">
    <p id="notice"><%= notice %></p>
    <% if logged_in? %>
    <%= link_to "ログアウト", login_foodandfood_path, method: :delete %>
    <%= link_to "新規作成", new_article_path %>
    <% end %>
    <h1 class="main">サークルからのお知らせ</h1>
    <div class="articles">
      <% @articles.each do |article| %>
      <div class="article">
        <%= link_to article do %>
        <%= image_tag aricle_image_select(article) %>
        <div>
        <p><%= article.title %></p>
        <p class="datetime"><%= article.created_at.strftime("%Y/%m/%d/ %H:%M") %></p>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>