<div class="top">
  <div><%= image_tag "top.jpg" %> <div>茨城大学<br>中南米音楽<br>研究会</div>
  </div>
</div>
<div class="main">
  <div>
    <p id="notice"><%= notice %></p>
    <% if logged_in? %>
    <%= link_to "ログアウト", login_foodandfood_path, method: :delete %>
    <%= link_to "新規作成", new_article_path %>
    <% end %>
    <h1 class="main">サークルからのお知らせ</h1>
    <div>
      <% @articles.each do |article| %>
      <div>
        <%= link_to article do %>
        <%= image_tag article.image %>
        <%= article.created_at.strftime("%Y年%m月%d日 %H:%M") %>
        <br>
        <font size="2"><%= article.title %></font>
        <% end %>
      </div>
      <% if logged_in? %>
      <%= link_to "編集", edit_article_path(article) %>
      <%= link_to "削除", article, method: :delete, data: { confirm: "消しちゃうよ?????" } %>
      <% end %>
      <% end %>
    </div>

  </div>
</div>