<div class="top">
  <div>
    <%= image_tag "top.jpg" %>
  </div>
</div>
<div class="main" style="padding: 1.5rem 0rem 0rem">
  <div class="contents" style="padding: 0.1rem 2rem 0.1rem;color: #DC143C;">
  <a href="https://forms.gle/mo87gFVsT87HXvLe6">
    <h1 class="main">コンサートの予約はこちらから</h1>
    </a>
  </div>
</div>
<div class="main">  
  <div class="contents">
    <p id="notice"><%= notice %></p>
    <% if logged_in? %>
    <%= link_to "ログアウト", login_foodandfood_path, method: :delete %>
    <%= link_to "新規作成", new_article_path %>
    <% end %>
    <h1 class="main">サークルからのお知らせ</h1>
    <div class="articles">
      <% @articles.each do |article| %>
      <div class="article">
        <%= link_to article do %>
        <%= image_tag aricle_image_select(article) %>
        <div>
        <p><%= article.title %></p>
        <p class="datetime"><%= article.created_at.strftime("%Y/%m/%d/ %H:%M") %></p>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>