<div class="main">
  <div class="contents">
    <p id="notice"><%= notice %></p>
    <% @page_title = "#{@article.title}" %>
    <h1 class="show">
      <div class="datetime"><%= @article.created_at.strftime("%Y/%m/%d/ %H:%M") %></div>
      <%= @article.title %>
    </h1>
    <%= image_tag aricle_image_select(@article) %>
    <br><br>
    <font size="2"><%= simple_format h @article.memo %></font>
    <br>
    <% if logged_in? %>
    <%= link_to "編集", edit_article_path(@article) %>
    <%= link_to "削除", @article, method: :delete, data: { confirm: "消しちゃうよ?????" } %>
    <% end %>
    <br>
    <%= link_to "新しい記事", @article.get_next_article if @article.get_next_article %>
    <%= link_to "古い記事", @article.get_previous_article if @article.get_previous_article %>
    <br><br>
    <%= link_to "一覧へ戻る", articles_path %>
  </div>
  <div id='sosyal'>
    <%= link_to "Twitter", "https://twitter.com/share?url=#{request.url}&text=#{@page_title}", class: "twitter", title: "Twitter", target: "_blank" %>
    <%= link_to "Facebook", "https://www.facebook.com/sharer/sharer.php?u=#{request.url}&text=#{@page_title}", class: "facebook", title: "Facebook", target: "_blank" %>
    <%= link_to "LINE", "http://line.me/R/msg/text/?#{request.url}&text=#{@page_title}", class: "line", title: "LINE", target: "_blank" %>
    <%= link_to "Slack", "http://slackbutton.herokuapp.com/post/new/?url=#{request.url}&text=#{@page_title}", class: "slack", title: "Slack", target: "_blank" %>
  </div>
</div>