<!DOCTYPE html>
<html lang="ja">

<head>
  <meta name="robots" content="noindex" />
  <%= favicon_link_tag() %>
  <meta http-equiv="content-language" content="ja">
  <meta name="google" content="notranslate" />
  <title><%= page_title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <%= stylesheet_link_tag "application", media: "screen", 'data-turbolinks-track': "reload" %>
  <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  <%= analytics_init if Rails.env.production? %>
</head>

<body>
  <header>
    <div>
      <ul class="topnav">
        <div>
          <li><p>茨城大学中南米音楽研究会テスト用</p></li>
          <li class="right"><%= link_to static_pages_inquiry_path do %>お問い合わせ<% end %></li>
        </div>
      </ul>
      <ul class="secondnav">
        <li><%= link_to root_path do %><%= image_tag "favicon.ico" %></a><% end %></li>
        <li><%= link_to static_pages_about_path do %>サークル概要<% end %></li>
        <li><a href="https://twitter.com/ibadaichuunan">Twitter</a></li>
        <li><a href="https://www.youtube.com/channel/UCQ4fOacob1RE91xH5-ulZdQ?view_as=subscriber">YouTube</a></li>
      </ul>
    </div>
  </header>
  <%= yield %>
</body>

</html>